@{
    ViewData["Title"] = "ContactUs";
}

<!--
 --------------------------------Student Information----------------------------------
 STUDENT NO.: ST10251759
 Name: Cameron Chetty
 Course: BCAD Year 2
 Module: Cloud Development 1A
 Module Code: CLDV6211
 Assessment: Portfolio of Evidence (POE) Part 1
 Github repo link: https://github.com/VCDN-2024/cldv6211-part-1-st10251759
 --------------------------------Student Information----------------------------------
-->
<!--
 ==============================Code Attribution==================================

 Author: w3schools
 Link: https://www.w3schools.com/html/
 Date Accessed: 16 March 2024

 Author: HTML Codex
 Link:https://htmlcodex.com/
 Date Accessed: 16 March 2024

 Author: w3schools
 Link: https://www.w3schools.com/css/
 Date Accessed: 16 March 2024

 Author: w3schools
 Link: https://www.w3schools.com/js/
 Date Accessed: 16 March 2024

  *********All Images used throughout project are adapted from Pinterest (https://za.pinterest.com/)*************

 ==============================Code Attribution==================================
-->
<!--Below is HTML code for the Contact Us with css classes to style the pages-->
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Contact Us</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Content Contact Us -->
<div class="container">
    <p>We value your feedback and inquiries. Whether you have a question about our products, an order, or just want to say hello, we're here to help. Feel free to reach out to us via phone, email, or through the contact form below. Our team at KhumaloCraft Emporium is dedicated to providing you with exceptional customer service and ensuring your experience with us is enjoyable and seamless. We look forward to hearing from you!<br /> <br /></p>
</div>
<!-- Content Contact Us -->
<!-- Contact Information Block -->
<section class="section section-sm section-first bg-default">
    <div class="container">
        <div class="row row-30 justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-4">
                <article class="box-contacts">
                    <div class="box-contacts-body">
                        <div class="box-contacts-icon fl-bigmug-line-cellphone55"><i class="fa fa-phone-square"></i></div>
                        <div class="box-contacts-decor"></div>
                        <p class="box-contacts-link"><a href="tel:#">+27 323-913-4688</a></p>
                        <p class="box-contacts-link"><a href="tel:#">+27 323-888-4554</a></p>
                    </div>
                </article>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
                <article class="box-contacts">
                    <div class="box-contacts-body">
                        <div class="box-contacts-icon fl-bigmug-line-up104"><i class="fa fa-home"></i></div>
                        <div class="box-contacts-decor"></div>
                        <p class="box-contacts-link"><a href="#">123 Street, Kwa-Zulu Natal, South Africa</a></p>
                    </div>
                </article>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
                <article class="box-contacts">
                    <div class="box-contacts-body">
                        <div class="box-contacts-icon fl-bigmug-line-chat55"><i class="fa fa-envelope"></i></div>
                        <div class="box-contacts-decor"></div>
                        <p class="box-contacts-link"><a href="mailto:#">khumalocraft@example.com</a></p>
                        <p class="box-contacts-link"><a href="mailto:#">info@khumalocraft.org</a></p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Contact Information Block -->
<!-- Contact Start -->
<div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
    <div class="container contact px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-12 pe-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <iframe class="position-absolute w-100 h-100" style="object-fit: cover;"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                            frameborder="0" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
